<% provide(:title, 'Rules') %>
 <div id="back" class="tips icon-btn-edit" title="back" data-placement="bottom"><a href="/home" class="glyphicons white unshare"><i></i> <span class="edit-button">Back</a></div>
    <h1>Rules & Regulations</h1>
    <h3>
      Greetings All<h3>
<div>
I hope this email finds you in good health and high spirits. I'd like to take this opportunity to officially invite you to participate in the inaugural Harper Classic, hosted and sponsored by Pepsico (Thanks Kyle). Below you will find the official rules and details for the contest. Also, at the end of the email, you'll also find a gambler's anonymous hotline number in case you decide that betting on a child's due date is the wake up call you needed to seek help (Aunt Lisa).
</div>
</br>
<div>

Wager:

$5 per entry, limit one (1) entry per person

Contest Rules:

Three educated guess will be placed on the following categories:

1) Weight
2) Length
3) Time of arrival (we'll go with the official birth certificate recording for this one since there are any number of moments that could be considered as the moment of birth i.e water breaking, crowning, first contraction, etc.)
</div>
</br>
<div>
Prizes and rewards will be determined by the following criteria:

1) Complete Jackpot goes to the person who guesses the closest time to actual DOB (within 12 hours).
2) if a winner can not be determined by the DOB then prizes will be split equally to the person or persons who guess closest to the weight and length.
3) Obviously these are The Price is Right rules where overage guesses don't count.

Example 1: you guess 1 pm on June 6th, you're guess is valid until 1am on June 7th

Example 2: height and weight should be pretty self explanatory.
</div>
</br>
Please respond to this email with your guesses and I will record them on the official Excel Spreadsheat to be passed out later. Any entries not via email will not be official and therefore will be void. Also, feel free to pass this along to any other family member who might be interested.

GA 1-800-346-6238

Addiction is no joke, please bet responsibly.

<div>
</br>
Best of luck to all.

Love,

Bri
 </div> 

