<%= form_for(current_user.bookmarks.find_by_followed_id(@user),
             html: { method: :delete },
             remote: true) do |f| %>
 <%= button_tag do %>
<div id="delete" class="tips icon-btn-delete" title="Unfollow" data-placement="bottom"><a href="#" class="glyphicons white user_remove"><i></i></a></div>
<% end %>
<% end %>
