<div id="sidr">
  <ul>
   
   
   
					
 </a> </li>
    <li><a href="/jobs"><i class="icon-list-alt"></i> Job Board</a></li>
    <li><a href="/marketplace"><i class="icon-comment"></i> Marketplace</a></li>
    <li><a href="/university"><i class="icon-bookmark"></i> University</a></li>
    <li><a href="http://youngprofessional.campusweaver.com" target="_blank"><i class="icon-book"></i> News</a></li>
  </ul>
 </div>