<div class="cwfooter">

    <small>
<<<<<<< HEAD
        &copy; CampusWeaver <%= Time.now.year %>
    </small>

</div>
=======
        Designed by Justin Gabriel
    </small>
    <nav>
        <ul>
            <li></li>
          
        </ul>
    </nav>
</footer>
>>>>>>> 881ee705febd4004d6343ba22e02d84535086797
